<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.machine.dao.GlassDao">


	<!-- 查询所有 分页 -->
	<select id="listPage" parameterType="Map" resultType="Car">
		SELECT
		tid,cName,cSeries,cType,powerwindow,windowkeylift,clampholder
		,insulatingglass,rearviewmirrorelectric,rearviewmirrorheat,automaticantiglare
		,mediumvehicle,powerfolding,mirrormemory,suncurtain,rearsideshade,
		privacyglass,shadingmirror,rearwiper,inductionwiper
		 FROM car c,type t,series s
		WHERE c.id=t.cid AND s.id=t.sid
		limit #{offset},#{pageSize}
	</select>

	<!-- 查询所有 分页 -->
	<select id="listAll" resultType="Car">
		SELECT
		tid,cName,cSeries,cType,powerwindow,windowkeylift,clampholder
		,insulatingglass,rearviewmirrorelectric,rearviewmirrorheat,automaticantiglare
		,mediumvehicle,powerfolding,mirrormemory,suncurtain,rearsideshade,
		privacyglass,shadingmirror,rearwiper,inductionwiper
		 FROM car c,type t,series s
		WHERE c.id=t.cid AND s.id=t.sid
	</select>
	

	<select id="serchid" parameterType="int" resultType="Car">
	   SELECT
		tid,cName,cSeries,cType,powerwindow,windowkeylift,clampholder
		,insulatingglass,rearviewmirrorelectric,rearviewmirrorheat,automaticantiglare
		,mediumvehicle,powerfolding,mirrormemory,suncurtain,rearsideshade,
		privacyglass,shadingmirror,rearwiper,inductionwiper
		FROM car c,type t,series s
		WHERE c.id=t.cid AND s.id=t.sid AND
		tid=#{tId}
	</select>
	
	<update id="update" parameterType="Car">
		UPDATE type SET powerwindow=#{powerwindow},windowkeylift=#{windowkeylift},clampholder=#{clampholder}
		,insulatingglass=#{insulatingglass},rearviewmirrorelectric=#{rearviewmirrorelectric},rearviewmirrorheat=#{rearviewmirrorheat},
		automaticantiglare=#{automaticantiglare},mediumvehicle=#{mediumvehicle},powerfolding=#{powerfolding},
		mirrormemory=#{mirrormemory},suncurtain=#{suncurtain},rearsideshade=#{rearsideshade},
		privacyglass=#{privacyglass},shadingmirror=#{shadingmirror},rearwiper=#{rearwiper},
		inductionwiper=#{inductionwiper}
		WHERE tid=#{tId}
	</update>


</mapper>