<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.machine.dao.UserDao">

	<resultMap id="BaseResultMap" type="cn.machine.pojo.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
	</resultMap>

	<!-- 验证登录 -->
	<select id="checkLogin" parameterType="cn.machine.pojo.User"
		resultMap="BaseResultMap">
		select * from t_user where name=#{0} and password=#{1}
	</select>

	<!-- 分页查询 -->
	<select id="listPage" parameterType="Integer" resultType="User">
		select * from t_user limit #{1},#{0}
	</select>

	<!-- 查询所有 -->
	<select id="listAll" resultType="User">
		select *from t_user
	</select>
		
	<!-- 添加数据 -->
	<insert id="add" parameterType="User">
		insert into t_user (name,password)values(#{name},#{password})
	</insert>
	
	<!-- 根据id查找数据 -->
	<select id="searchid" resultType="User" parameterType="int">
		select * from t_user where id=#{id}
	</select>
	
	<!-- 修改数据 -->
	<update id="update" parameterType="User">
		update t_user set name=#{name},password=#{password}
		where id=#{id}
	</update>
	
	<!-- 删除数据 -->
	<delete id="delete" parameterType="User">
		delete from t_user where id=#{id}
	</delete>

</mapper>