.navigation ul li a{color:white;text-decoration: none;}
.navigation ul li a:visited{color:white;text-decoration: none;}
.navigation ul li a:hover{color:blue;background-color:white;text-decoration:none;display: inline-block;}
.navigation ul li a:active{color: red;text-decoration: none;}

.navigation {
	position:fixed;
	margin:auto;
	float:left;
	background-color: rgba(0, 0, 0, 0.7);	/* 	background-color:#0066FF;opacity:0.7; */
	width:100%;
	height:50px;
	z-index:1;
	clear:both;
}

.navigation ul {
	width: 840px;
	height:50px;
	line-height:50px;
	font-weight:bold;
	text-align:center;
	margin: auto;
}

.navigation ul li {
	float:left;
	width: 120px;
	list-style: none;
	margin: auto;
}