<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- spring 扫描包下的所有类，让spring注解生效 -->
	<context:component-scan base-package="cn.machine"/>
	
	<mvc:annotation-driven/>
	
	    <!-- 定义拦截器，实现用户登录验证 -->
<!-- 	<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/index/toLogin"/>
            <mvc:exclude-mapping path="/Apple/**"/>
            <bean class="cn.machine.filter.TestInterceptor"/>
        </mvc:interceptor>
	</mvc:interceptors> -->
	
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/jsp/"/> 
		<property name="suffix" value=".jsp"/>
	</bean>

	
	<!-- 配置静态资源文件访问 springMVC中无法直接访问静态文件,需要映射成URL路径来进行访问 -->
    <mvc:resources location="/static/" mapping="/static/**"/>
    
    
    <!-- 配置文件上传MultipartResolver -->
   	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5120000"/>
    </bean>
     
	<!-- 配置json数据 -->  
    <bean    
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">    
        <property name="messageConverters">    
            <list>    
                <ref bean="mappingJackson2HttpMessageConverter" />    
            </list>    
        </property>    
    </bean>    
    <bean id="mappingJackson2HttpMessageConverter"    
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">    
        <property name="supportedMediaTypes">    
            <list>    
                <value>text/html;charset=UTF-8</value>    
                <value>text/json;charset=UTF-8</value>    
                <value>application/json;charset=UTF-8</value>    
            </list>    
        </property>    
    </bean>  
    

    
</beans>